[submodule "external/compilers/vibemap2"]
	path = external/compilers/vibemap2
	url = ../VibeyMapTools.git
[submodule "external/compilers/vibemap3"]
	path = external/compilers/vibemap3
	url = ../q3mapx.git
[submodule "external/compilers/zdbsp"]
	path = external/compilers/zdbsp
	url = https://github.com/rheit/zdbsp.git
[submodule "external/compilers/zokumbsp"]
	path = external/compilers/zokumbsp
	url = https://github.com/zokum-no/zokumbsp.git
