[submodule "external/compilers/ericw-tools"]
	path = external/compilers/ericw-tools
	url = https://github.com/ericwa/ericw-tools.git
[submodule "external/compilers/netradiant-custom"]
	path = external/compilers/netradiant-custom
	url = https://github.com/Garux/netradiant-custom.git
[submodule "external/compilers/zdbsp"]
	path = external/compilers/zdbsp
	url = https://github.com/rheit/zdbsp.git
[submodule "external/compilers/zokumbsp"]
	path = external/compilers/zokumbsp
	url = https://github.com/zokum-no/zokumbsp.git
